:root {
  --contrast-color: #84374f;
}

body {
  font-family: "Titillium Web", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  font-size: 12pt;
  padding: 32pt 8pt;
}

.profile-photo {
  width: 70%;
  border-radius: 50%;
}

a {
  text-decoration: underline;
  color: #111;
}

a:hover {
  color: var(--contrast-color);
}

.secondary,
.work-period,
.study-period {
  color: var(--contrast-color);
}

ul {
  list-style: none;
  padding: 0;
}

section {
  margin: 16px auto 16px auto;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
}

section > header {
  width: 25%;
  padding-right: 4%;
  vertical-align: top;
  text-align: right;
  position: sticky;
  top: 0px;
}

section > article {
  width: 70%;
}

@media (max-width: 480px) {
  section > header,
  section > article {
    width: 100%;
  }

  section > header {
    text-align: left;
  }

  section > header {
    position: relative;
  }

  h1 > .secondary {
    display: block;
  }
}

@media print {
  body {
    padding: 0;
  }

  section {
    width: 100%;
  }

  section > header {
    width: 20%;
    padding-right: 3%;
  }

  section > article {
    width: 76%;
  }

  a {
    color: #000;
  }

  section > header {
    position: inherit;
  }

  p, li, h2 {
    page-break-inside: avoid;
  }
}
